*{
    margin: 0;
}

body{
    
}


.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    
}

.logo-container{
    flex 1;
}

.logo{
    color: white;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.main_index {
    padding: 20px 20px 20px 20px;
    margin: 200px 150px 0px 150px;
}

.main {
    padding: 20px;
    min-height: 800px;
    background-color: black;
}

.theater_name {
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1.25em;
    font-family: gordita,Helvetica,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.theater_address {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.9em;
    font-style: normal;
    font-family: gordita,Helvetica,sans-serif;
}

.movie_name {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1.25em;
    font-family: gordita,Helvetica,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
.movie_duration {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1.25em;
    font-family: gordita,Helvetica,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.checkout_theater_name {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1.25em;
    font-family: gordita,Helvetica,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.Btn, .btn, .btn-default, button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border-radius: 38px;
    border: 2px solid #fff;
    outline: nones;
    letter-spacing: -.04em;
    transition: all .15s ease-in-out;
}

.display_block {
    display: inline-block;
}

.center {
    text-align:center;
}

.main_h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1.25em;
    font-family: gordita,Helvetica,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.TheatreSearchField--compact .TheatreSearchField-form input {
    width: calc(100% - 24px * 2 - 12px * 3);
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
}

.TheatreSearchField-form input {
    font-size: 25px;
}

.TheatreSearchField-form input {
    display: inline-block;
    border-bottom: none;
    height: 2em;
    width: calc(100% - 24px * 2 - 18px * 3);
}

.TheatreSearchField--large .TheatreSearchField-form {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.padding {
    padding: 0px 350px 0px 350px;
}
